body
{
    align-items: center;
}
.main
{
    width: 60%;
    height: 90px;
    align-content: center;
    border: 2px solid black;
    padding: 2px;
    display: block;
    margin: auto;
}
.theme
{
    margin-top: 3%;
    margin-left: 40%;
    width: 60%;
    margin-bottom: 3px;
}
.btn
{
    border-radius: 50%;
    border: 2px solid black;
    height: 40px;
    width: 40px;
}
#movie
{
    width: 50%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
#btn1
{
    background-color: red;
}
#btn2
{
    background-color: greenyellow;
}
#btn3
{
    background-color: cyan;
}
#btn4
{
    background-color: black;
}
#btn5
{
    background-color: brown;
}
img{
    width: 250px;
    height:200px;
    display: inline-block;
}